<?xml version="1.0"?>
<config>
    <modules>
        <RonisBT_StoreLocator>
            <version>1.0.0.0</version>
        </RonisBT_StoreLocator>
    </modules>
    <global>
        <models>
            <storelocators>
                <class>RonisBT_StoreLocator_Model</class>
                <resourceModel>storelocator_resource</resourceModel>
            </storelocators>
            <storelocators_resource>
                <class>RonisBT_StoreLocator_Model_Resource</class>
                <entities>
                    <locator>
                        <table>ronisbt_storelocators</table>
                    </locator>
                </entities>
            </storelocators_resource>
        </models>
        <resources>
            <storelocators_setup>
                <setup>
                    <module>RonisBT_StoreLocator</module>
                </setup>
            </storelocators_setup>
        </resources>
        <helpers>
            <storelocator>
                <class>RonisBT_StoreLocator_Helper</class>
            </storelocator>
        </helpers>
        <blocks>
            <storelocator>
                <class>RonisBT_StoreLocator_Block</class>
            </storelocator>
        </blocks>
    </global>
    <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>RonisBT_StoreLocator</module>
                    <frontName>store-locator</frontName>
                </args>
            </storelocator>
        </routers>
        <translate>
            <modules>
                <RonisBT_StoreLocator>
                    <files>
                        <default>RonisBT_StoreLocator.csv</default>
                    </files>
                </RonisBT_StoreLocator>
            </modules>
        </translate>
        <layout>
            <updates>
                <storelocator module="storelocator">
                    <file>storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>
     <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <storelocator before="Mage_Adminhtml">RonisBT_StoreLocator_Adminhtml</storelocator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <defalut>

    </defalut>
</config>