<?xml version="1.0"?>
<config>
    <tabs>
        <ronistb translate="label" module="storelocator">
            <label>RonisBT</label>
            <sort_order>150</sort_order>
        </ronistb>
    </tabs>
    <sections>
        <storelocators module="storelocator" translate="label">
            <label>Store-locators</label>
            <tab>ronistb</tab>
            <frontend>text</frontend>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings module="storelocator" translate="label">
                    <label>Settings</label>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_Website>1</show_in_Website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment" module="storelocator">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>

                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <comment>Is module enabled</comment>
                        </enabled>
                        <blocks_count>
                            <label>Blocks on page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </blocks_count>
                        <raw_text>
                            <label>Raw text</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </raw_text>
                    </fields>
                </settings>

            </groups>
        </storelocators>
    </sections>
</config>
<config>
<sections>
    <web>
        <groups>
            <default>
                <fields>
                    <cms_home_page translate="label" module="cms">
                        <label>CMS Home Page</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_cms_page</source_model>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </cms_home_page>
                    <cms_no_route translate="label"  module="cms">
                        <label>CMS No Route Page</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_cms_page</source_model>
                        <sort_order>2</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </cms_no_route>
                    <cms_no_cookies translate="label"  module="cms">
                        <label>CMS No Cookies Page</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_cms_page</source_model>
                        <sort_order>3</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </cms_no_cookies>
                    <show_cms_breadcrumbs translate="label" module="cms">
                        <label>Show Breadcrumbs for CMS Pages</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>5</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </show_cms_breadcrumbs>
                </fields>
            </default>
        </groups>
    </web>
    <cms translate="label" module="cms">
        <label>Content Management</label>
        <tab>general</tab>
        <frontend_type>text</frontend_type>
        <sort_order>1001</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
        <groups>
            <wysiwyg translate="label">
                <label>WYSIWYG Options</label>
                <frontend_type>text</frontend_type>
                <sort_order>100</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <enabled translate="label">
                        <label>Enable WYSIWYG Editor</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_cms_wysiwyg_enabled</source_model>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </enabled>
                </fields>
            </wysiwyg>
        </groups>
    </cms>
</sections>
</config>