.map-wrap, aside {
    display: table-cell;
    vertical-align: top
}

aside {
    width: 34.2%
}

#j-full-list {
    padding: 0 20px 0 25%;
    text-transform: uppercase
}

@media (max-width: 990px) {
    #j-full-list {
        padding-left: 0
    }
}

#j-full-list li {
    letter-spacing: .02em;
    padding-bottom: 12px
}

@media (max-width: 767px) {
    #j-full-list li {
        font-size: 18px;
        padding-bottom: 14px;
        letter-spacing: .03em
    }
}

#j-full-list li span {
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

@media (min-width: 1025px) {
    #j-full-list li span:hover {
        color: #aa794c;
        font-family: asapbold, Arial, sans-serif
    }
}

#j-search-list {
    padding-right: 16px
}

@media (max-width: 767px) {
    #j-search-list {
        padding: 0
    }
}

#j-search-list > li {
    background-color: #f4f4f4;
    position: relative;
    padding: 21px 21px 27px;
    cursor: pointer;
    margin-bottom: 14px
}

@media (min-width: 1025px) {
    #j-search-list > li:hover:after {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5)
    }
}

#j-search-list > li:after {
    content: '\e909';
    font: 12px icomoon;
    position: absolute;
    top: 15px;
    right: 13px;
    color: #aa794c;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s
}

#j-search-list > li li {
    padding-bottom: 6px;
    letter-spacing: .01em
}

#j-search-list .store-name {
    font: 17px asapbold, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .04em
}

#j-search-list .j-miles {
    font: bold 13px asapitalic, Arial, sans-serif;
    color: #aa794c;
    letter-spacing: .04em;
    padding-bottom: 7px
}

#j-search-error {
    color: #c02c2c;
    text-align: center;
    font: 17px/1.3em asapbold, Arial, sans-serif;
    padding: 41px 20px 0;
    letter-spacing: .035em;
    margin-bottom: -12px
}

.main-cntainer h1 {
    ofont: 40px merriweatherbold, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .035em;
    padding-bottom: 6px
}

@media (max-width: 767px) {
    .main-container h1 {
        font-size: 26px;
        padding: 0
    }
}

.main-container h3 {
    font: 20px/.7em merriweatherbold, Arial, sans-serif;
    letter-spacing: .04em;
    padding-bottom: 31px;
    text-transform: none
}

@media (max-width: 767px) {
    .main-container h3 {
        font-size: 26px;
        letter-spacing: .03em;
        padding-bottom: 23px
    }
}

.map-wrap, aside {
    display: table-cell;
    vertical-align: top;
}

aside {
    width: 34.2%
}